<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-icon [routerLink]="['/autenticacao']"  name="log-out-outline" style="margin-left: 5%; width: 30px; height: 30px;"></ion-icon>
      <ion-title>Olá</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-padding" style="margin-top: 5%">
    <ion-col class="ion-padding" style="margin-top: 5%">
      <div *ngIf="embarcados && embarcados.length && !detalharEmbarcado">
        <div class="row" *ngFor="let embarcado of embarcados; let i = index">
          <div (click)="detalhaEmbarcado(embarcado)">
              {{embarcado.descricaoEmbarcado}}
          </div>
        </div>
      </div>
      <div>
        <form [formGroup]="form" *ngIf="detalharEmbarcado" (ngSubmit)="salvar()">
          <ion-item>
            <ion-label>Descrição:</ion-label>
            <ion-input type="text" ng-init ng-model="{{embarcadoSelecionado.descricaoEmbarcado}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>ip Embarcado:</ion-label>
            <ion-input type="text"  ng-init  ng-model="embarcadoSelecionado.ipEmbarcado"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>ip Gateway:</ion-label>
            <ion-input type="text" ng-model="embarcadoSelecionado.ipGateway"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>MAC:</ion-label>
            <ion-input readonly type="text" ng-model="embarcadoSelecionado.mac"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Máscara:</ion-label>
            <ion-input type="text" ng-model="embarcadoSelecionado.mascara"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Status:</ion-label>
            <ion-input type="text" ng-model="embarcadoSelecionado.status"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de Rede:</ion-label>
            <ion-input type="text" ng-model="embarcadoSelecionado.tipoRede"></ion-input>
          </ion-item>
          <br>
          <ion-row>
            <ion-col size="7">
            <ion-button type="submit" expand="full" expand="block">
              Salvar alterações</ion-button>
            </ion-col>
            <ion-col size="5">
              <ion-button expand="full" color="danger">
                Deletar
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </div>
    </ion-col>
  </ion-row>
  
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list >
        <ion-list-header>
          <ion-title>Opções</ion-title>
        </ion-list-header>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/folder/pessoa']">
            <ion-label>Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/folder/ambiente']">
            <ion-icon name="sparkles-outline"></ion-icon>
            <ion-label>&nbsp;&nbsp;Ambiente</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/folder/embarcado']">
            <ion-icon name="telescope-outline"></ion-icon>
            <ion-label>&nbsp;&nbsp;Embarcado</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/folder/embarcado']">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>&nbsp;&nbsp;Log-out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
  
    </ion-content>
  </ion-menu>
</ion-content>