<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-title>Ambientes</ion-title>
      <ion-icon *ngIf="detalharAmbiente" (click)="habilitaLista()" name="arrow-back" style="margin-left: 5%; width: 30px; height: 30px;"></ion-icon>
      <ion-icon *ngIf="!detalharAmbiente" [routerLink]="['/folder/pessoa']" name="arrow-back" style="margin-left: 5%; width: 30px; height: 30px;"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-padding" style="margin-top: 5%">
    <ion-col class="ion-padding" style="margin-top: 5%">
      <div *ngIf="ambientes && ambientes.length && !detalharAmbiente">
        <ion-grid class="ion-margin">
          <ion-row>
            <ion-col size="8">Tipo de Ambiente</ion-col>
            <ion-col size="4">Nome</ion-col>
          </ion-row>
          <br>
          <ion-row class="ion-align-items-start" *ngFor="let ambiente of ambientes; let i = index">
            <ion-col size="8" (click)="detalhaAmbiente(ambiente)">
                {{ambiente.tipoAmbiente}}
            </ion-col>
            <ion-col size="4" (click)="detalhaAmbiente(ambiente)">
              {{ambiente.nomeAmbiente}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="detalharAmbiente">
        <ion-item>
          <ion-label>Tipo de Ambiente:</ion-label>
          <ion-input type="text" [(ngModel)]="ambienteSelecionado.tipoAmbiente"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Nome:</ion-label>
          <ion-input type="text" [(ngModel)]="ambienteSelecionado.nomeAmbiente"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Descricao:</ion-label>
          <ion-input type="text" [(ngModel)]="ambienteSelecionado.descricao"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Capacidade:</ion-label>
          <ion-input  type="text" [(ngModel)]="ambienteSelecionado.capacidade"></ion-input>
        </ion-item>
        <br>
        <ion-row>
          <ion-col size="7">
          <ion-button expand="full" expand="block" (click)="salvar()">
            Salvar alterações</ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button expand="full" color="danger" (click)="remover()">
              Deletar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list >
        <ion-menu-toggle>
          <ion-item [routerLink]="['/folder/pessoa']">
            <ion-label>Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-list-header>
          <ion-title>Opções</ion-title>
        </ion-list-header>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/folder/ambiente']">
            <ion-label>Ambiente</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/folder/embarcado']">
            <ion-label>Embarcado</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/folder/embarcado']">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>&nbsp;&nbsp;Log-out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
  
    </ion-content>
  </ion-menu>
</ion-content>
