<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-icon *ngIf="detalharEmbarcado" (click)="habilitaLista()" name="arrow-back" style="margin-left: 5%; width: 30px; height: 30px;"></ion-icon>
      <ion-icon *ngIf="!detalharEmbarcado" [routerLink]="['/folder/pessoa']" name="arrow-back" style="margin-left: 5%; width: 30px; height: 30px;"></ion-icon>
      <ion-title>Embarcados</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-padding" style="margin-top: 5%">
    <ion-col class="ion-padding" style="margin-top: 5%">
      <div *ngIf="embarcados && embarcados.length && !detalharEmbarcado">
        <ion-grid class="ion-margin">
          <ion-row>
            <ion-col size="6">Descricao</ion-col>
            <ion-col size="6">ip</ion-col>
          </ion-row>
          <br>
          <ion-row class="row" *ngFor="let embarcado of embarcados; let i = index">
            <ion-col size="6" (click)="detalhaEmbarcado(embarcado)">
                {{embarcado.descricaoEmbarcado}}
            </ion-col>
            <ion-col size="6" (click)="detalhaEmbarcado(embarcado)">
              {{embarcado.ipEmbarcado}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="detalharEmbarcado">
        <ion-item>
          <ion-label>Descrição:</ion-label>
          <ion-input type="text" [(ngModel)]="embarcadoSelecionado.descricaoEmbarcado"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>ip Embarcado:</ion-label>
          <ion-input type="text" [(ngModel)]="embarcadoSelecionado.ipEmbarcado"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>ip Gateway:</ion-label>
          <ion-input type="text" [(ngModel)]="embarcadoSelecionado.ipGateway"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>MAC:</ion-label>
          <ion-input  type="text" [(ngModel)]="embarcadoSelecionado.mac"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Máscara:</ion-label>
          <ion-input type="text" [(ngModel)]="embarcadoSelecionado.mascara"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Status:</ion-label>
          <ion-input type="text" [(ngModel)]="embarcadoSelecionado.status"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de Rede:</ion-label>
          <ion-input type="text" [(ngModel)]="embarcadoSelecionado.tipoRede"></ion-input>
        </ion-item>
        <br>
        <ion-row>
          <ion-col size="7">
          <ion-button expand="full" expand="block">
            Salvar alterações</ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button expand="full" color="danger">
              Deletar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>