<ion-content>
  <ion-row class="ion-padding" style="margin-top: 5%">
    <ion-col class="ion-padding" style="margin-top: 5%">
      <ion-img src="assets/imagens/logo.png"></ion-img>
      <br>
      <br>
      <form (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input required placeholder="seuemail@dominio.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input required type="password"></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-button expand="full" [routerLink]="['/folder/ambiente']" expand="block">
          <ion-icon name="log-in"></ion-icon>&nbsp;&nbsp;Entrar</ion-button>
        <br>
        <ion-button expand="full" color="danger" class="ion-social-google">
          <ion-icon name="logo-google"></ion-icon> &nbsp;&nbsp;Continuar com o Google
        </ion-button>
        <br>
        <br>
        <p style="text-align: center;">É novo aqui?&nbsp;&nbsp;<a [routerLink]="['/autenticacao/cadastrar-usuario']">Faça o cadastro!</a></p>
        <p style="text-align: center;"><a [routerLink]="['/autenticacao/recuperar-senha']">Esqueci minha senha</a></p>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
