<ion-header>
  <ion-toolbar>
    <ion-icon [routerLink]="['/autenticacao/login']" name="arrow-back" style="margin-left: 5%; width: 30px; height: 30px;"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="assets/imagens/logo.png" style="margin: auto;"></ion-img>
  <ion-row class="ion-padding" style="margin-top: 5%">
    <ion-col class="ion-padding" style="margin-top: 5%">
      <br>
      <br>
      <p style="text-align: center;">Cadastro de usuário</p>
      
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-button expand="full" (click)="cadastrarUsuario()">Cadastrar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
